body {
    font-family: 'Roboto', sans-serif;
    color:  #434455;
    background-color: #fff;
}

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.container { 
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;  
    padding-right: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* _____________HEADER______________ */

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display:flex;
    align-items: center;
}

.header-navigation {
    display:flex;
    align-items: center;
}

.header-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo-blue {
    color: #2e2f42;
}

.header-menu-list {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display:flex;
    gap: 40px;
}

.header-menu-link {
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-list:hover,
.header-menu-list:focus {
    color: #404BBF;
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404BBF;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}


.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display:flex;
    gap: 40px;
}

.header-address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list:hover,
.header-address-list:focus {
    color: #404BBF;
}
/* _______________________________*/

/* _____________HERO______________ */

.hero {
   background-color: #2E2F42;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   padding-top: 188px;
   padding-bottom: 188px;
   max-width: 1440px;
}

.hero-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;    
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-btn {
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
/*_______________________________*/

/* _____________FEATURE______________ */

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 24px * 3) / 4);
}

.container-future-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
    margin-bottom: 8px;
}

.feature-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}

.feature-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*_______________________________*/

/* _____________OUR TEAM______________ */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
   display: flex;
   gap: 24px;
}

.team-item {
    background: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
    display: block;
}

.container-team-item {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-subtitle {
    color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-item-icon {
    width: 40px;
    height: 40px;
}
.team-link-icon {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.svg-icon {
    fill: #f4f4fd;
}
.team-link-icon:hover,
.team-link-icon:focus {
    background-color: #404bbf;
}

/*_______________________________*/

/* _____________OUR PORTFOLIO______________ */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.potfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.potfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    background: #FFF;
    border: 1px solid  #E7E9FC;
    width: calc((100% - 24px * 2) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
    display: block;
}

.container-portfolio-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-cover-content {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translateY(0%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*_______________________________*/

/* _____________FOOTER______________ */

.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.container-footer-link {
    margin-right: 120px;
}

.footer-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-link-blue {
    color: #f4f4fd;
}

.footer-text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 16px;
}

.container-footer-icon {
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-list-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-item-icon {
    width: 40px;
    height: 40px;
}

.footer-link-icon {
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-link-icon:focus,
.footer-link-icon:hover {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}
